*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
		font-family: 'Roboto', sans-serif!important;

}
body{
	font-family: 'Roboto', sans-serif!important;
    background-color: #2B3C42;
    color: #fff;
    text-align: justify;
}
ul li{ 
  list-style: none;
}
.titulo-margen {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.img-full {
  width: 100%;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

@media screen and (max-width: 1050px) {
  .main-header .logo {
    padding-left: 30px !important;
  }


  .banner {
    background-color: #fff;
    transform: skew(0) !important;
  }
}

.separador {
  height: 80px;
}

.main-header {
  background-color: rgba(48, 71, 94, 0.2);
  height: 80px;
  position: fixed;
  z-index: 12;
  width: 100%;
  top: 0;
}

.main-header .logo {
  float: left;
  line-height: 80px;
  padding-left: 60px;
}

.main-header .logo a {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
}

.main-header .logo a em {
  font-style: normal;
  color: #A4BF75;
}

.main-menu2 {
  float: right;
  padding-right: 60px;
}

.main-menu2 li {
  display: inline-block;
  line-height: 79px;
  margin-left: 15px;
  position: relative;
}

.main-menu2 li:first-child {
  margin-left: 0px;
}

.main-menu2 li a {
  padding: 10px 15px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  color: #fff;
  border: 2px solid transparent;
  transition: all 0.5s;
}

.main-menu2 li.has-submenu a:after {
  content: '\f107';
  margin-left: 5px;
}

.main-menu2 li.has-submenu ul li a:after {
  display: none;
}

.main-menu2 li .lenguaje {
  padding: 0;
  font-weight: 700;
  color: #000;
  transition: all 0.5s;
}

.main-menu2 li.has-submenu .lenguaje:after {}

.main-menu2 li.has-submenu ul li .lenguaje:after {
  display: block;
}

.main-menu2 li .sub-menu {
  position: absolute;
  width: 160px;
  background-color: #18233a;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.main-menu2 li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}

.main-menu2 li .sub-menu li {
  display: block;
  line-height: 20px;
  margin-left: 0px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #121b2f;
}

.main-menu2 li .sub-menu li:first-child {
  padding-top: 15px;
}

.main-menu2 li .sub-menu li:last-child {
  margin-bottom: 0px;
  border-bottom: none;
}

.main-menu2 li .sub-menu li a {
  font-size: 12px;
  font-weight: 500;
  padding: 0px 15px;
  letter-spacing: 0.5px;
  border: none;
  transition: all 0.5s;
}

.main-menu2 li .sub-menu li a:hover {
  color: #F05454;
  border: none;
}

.card {
  padding: 30px;
}

.card-title {
  font-size: 64px;
  margin-top: 55px;
}

.card-text {
  font-size: 16px;
}

.card img{
  max-height: 400px;
  margin-left: 80px;
}


.main-banner {
  position: relative;
  max-height: 100%;
  overflow: hidden;
  margin-bottom: -7px;
}

#bg-video {
  min-width: 100%;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

#bg-video::-webkit-media-controls {
  display: none !important;
}

.center{
  margin-left: 16.67%;
}

.mapa {
  width: 100%;
  height: 600px;
}

.video-overlay {
  position: absolute;
  background-color: rgba(84, 130, 148, 0.70);
  top: 0;
  left: 0;
  bottom: 0px;
  width: 100%;
}



.main-banner .caption {
  text-align: center;
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-banner .caption h6 {
  margin-top: 0px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
}

.main-banner .caption h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;
}

.main-banner .caption h2 em {
  font-style: normal;
  color: #A4BF75;
  font-weight: 900;
}

@media screen and (max-width: 1180px) {

  .main-banner .caption h6 {
    font-weight: 500;
  }

  .main-banner .caption h2 {
    font-size: 58px;
  }

}

@media screen and (max-width: 767px) {

  .main-banner .caption h6 {
    font-weight: 500;
  }

  .main-banner .caption h2 {
    font-size: 36px;
  }

}

.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}

.ftco-footer-social li a {
  height: 40px;
  width: 40px;
  display: block;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  position: relative;
}

.ftco-footer-social li a span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ftco-footer-social li a:hover {
  color: #fff;
}

.form-control {
  height: 52px;
  background: #fff;
  color: #000;
  font-size: 18px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control:focus,
.form-control:active {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea.form-control {
  height: inherit !important;
}

.block-21 .img {
  display: block;
  height: 80px;
  width: 80px;
}

.block-21 .text {
  width: calc(100% - 100px);
}

.block-21 .text .heading {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.block-21 .text .heading a {
  color: #000;
}

.block-21 .text .heading a:hover,
.block-21 .text .heading a:active,
.block-21 .text .heading a:focus {
  text-decoration: none;
}

.block-21 .text .meta>div {
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
}

.block-21 .text .meta>div a {
  color: gray;
}

.block-23 ul {
  padding: 0;
}

.block-23 ul li,
.block-23 ul li>a {
  display: table;
  line-height: 1.5;
  margin-bottom: 15px;
}

.block-23 ul li .icon,
.block-23 ul li .text {
  display: table-cell;
  vertical-align: top;
}

.block-23 ul li .icon {
  width: 40px;
  font-size: 18px;
  padding-top: 2px;
}

.block-24 a.img {
  width: 100%;
  height: 100px;
  display: block;
}

.ftco-section {
  padding: 12em 0;
}

.ftco-section h2 {
  margin-bottom: 0;
}

footer {
  padding: 7em 0;
}

.footer-05 {
  background: #548294;
  padding: 4em 0 !important;
}

.footer-05 .border-bottom,
.footer-05 .border-top {
  border-color: #75aa42 !important;
}

.footer-05 a {
  color: #fff;
}

.footer-05 a:hover {
  color: #A4BF75;
}

.footer-05 p {
  color: rgba(255, 255, 255, 0.5);
}

.footer-05 .logo {
  line-height: 1.2;
}

.footer-05 .logo a {
  font-size: 28px;
  color: #fff;
}

.footer-05 .logo a span {
  font-size: 14px;
  display: block;
  color: #fff;
}

.footer-05 .footer-heading {
  font-size: 20px;
  color: #fff;
  margin-bottom: 30px;
}

.footer-05 .ftco-footer-social li a {
  background: transparent;
  border: 1px solid #81ba4c;
}

.footer-05 .ftco-footer-social li a:hover {
  border: 1px solid #fff8a1;
}

.footer-05 .block-21 .heading a {
  color: #fff;
}

.footer-05 .block-21 .meta div a {
  color: #fff
}

.footer-05 .block-23 ul li {
  color: #fff
}

.footer-05 .block-23 ul li a {
  color: #fff
}

.footer-05 .subscribe-form .form-group {
  position: relative;
  margin-bottom: 0;
  border-radius: 0;
}

.footer-05 .subscribe-form .form-group input {
  background: rgba(0, 0, 0, 0.05) !important;
  border: 2px solid #81ba4c !important;
  outline: none !important;
  color: rgba(255, 255, 255, 0.4) !important;
  font-size: 15px;
  border-radius: 0;
}

.footer-05 .featured {
  width: 100%;
}

.footer-05 .featured .img {
  width: 100%;
  height: 150px;
  display: block;
}

.footer-05 .featured .text h3 {
  font-size: 16px;
}
.section-404 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(164, 191, 117, 0.4)), url(https://cdn.pixabay.com/photo/2020/04/03/19/02/virus-4999857_1280.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 33.3vh;
  cursor: pointer;
  transition: 1s;
}


.section-banner-1 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(164, 191, 117, 0.4)), url(https://cdn.pixabay.com/photo/2018/08/12/16/59/parrot-3601194_960_720.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 33.3vh;
  cursor: pointer;
  transition: 1s;
}



.section-banner-2 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(131, 204, 205, 0.4)), url(https://cdn.pixabay.com/photo/2016/07/22/16/29/fog-1535201_960_720.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 33.3vh;
  cursor: pointer;
}

.section-banner-3 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(84, 130, 148, 0.4)), url(https://cdn.pixabay.com/photo/2014/12/02/03/11/grapes-553462_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 33.3vh;
  cursor: pointer;


}

#boletin {
  background: #A4BF75;

}

.glider-contain {
  width: 90%;
  max-width: 997px;
  margin: 0 auto;
}

.glider-slide {
  min-height: 150px;
}

.glider-slide img {
  width: 100%;
}


.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

/*-----------------------Menu de hamburguesa-----------------------*/
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media(max-width: 768px) and (orientation: portrait) {
  .main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo{
    padding-left: 0px!important;
  }

  .hamburger {    
    display: block;    
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .main-menu2 {
    display: flex;
    padding: 0;
    position: fixed;
    left: -100%;
    top: 80px;
    gap: 0;
    flex-direction: column;
    background-color: #548294;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .main-menu2 li{
    margin: 0;
  }

  .nav_item {
    margin: 16px 0;
  }

  .main-menu2.active{
    left: 0;
  }
}
